*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.continar {
    background-color: black;
    min-height:100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo {
    width: 40px;
}

ul li  {
    display: inline-block;
}
ul li  a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.contant .text {
    width: 40%;
    color: #fff;
}

.contant .text h2 {
    font-size: 40px;
    text-transform: uppercase;
}

.contant .text p {
    font-size: 18px;
    margin: 20px 0 ;
}

.contant .text a {
    text-decoration: none;
    background: #fff;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
}
.contant .img {
    width: 30%;
}

.contant .img img {
    width: 180px;
}

.icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img {
    width: 40px;
    transition: 0.5s;
}
.icons img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

@media screen and (max-width:600px){
    .bop {
      display: flex;
      justify-content: space-between;
    }
}
